{% load static %}

<footer class="section-sm pb-0 border-top border-default">
      <div class="container">      
         <div class="text-center">
            <p class="content">&copy; 2022 - Design &amp; Develop By <a href="https://github.com/barisdemir49" target="_blank">Barış Demir. (https://github.com/barisdemir49)</a></p>
         </div>
      </div>
</footer>
<!-- JS Plugins -->
<script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}" async></script>
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'js/script.js' %}"></script>