{% load static %}
<!-- navigation -->
<header class="sticky-top bg-white border-bottom border-default">
   <div class="container">

      <nav class="navbar navbar-expand-lg navbar-white">
         <a class="navbar-brand" href="/">
            <img class="img-fluid" width="150px" src="{% static 'images/logo.png' %}" alt="LogBook">
         </a>
         <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
            <i class="ti-menu"></i>
         </button>

         <div class="collapse navbar-collapse text-center" id="navigation">
            <ul class="navbar-nav ml-auto">
  
               <li class="nav-item">
                  <a class="nav-link" href="/adverts">İş İlanları</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/hakkimizda.html">Hakkımızda</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">İletişim</a>
               </li>
               {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">{{request.user.username}} <i class="ti-angle-down ml-1"></i>
                  </a>
                  <div class="dropdown-menu">
                   {% if request.user.is_superuser %}
                      <a class="dropdown-item" href="/admin">Admin Paneli</a>
                   {% endif %} 
                    <a class="dropdown-item" href="/user/dashboard">Kullanıcı Paneli</a>
                    <a class="dropdown-item" href="/user/changepass">Şifremi Güncelle</a>
                    <a class="dropdown-item" href="/user/changeprofile">Profilimi Güncelle</a>
                    <a class="dropdown-item" href="/user/adverts-options">İş Arama Kıriterlerim</a>
                    <a class="dropdown-item" href="/user/logout"> Çıkış Yap</a>
                  </div>
                </li>
               {% else %}
                  <li><a class="nav-link" href="/user/register">Üye Ol</a></li>
                  <li><a class="nav-link" href="/user/login">Oturum Aç</a></li>
               {% endif %} 
                
            </ul>

            <!-- search -->
            <div class="search px-4">
               <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
               <div class="search-wrapper">
                  <form method="GET" action="/adverts" class="h-100">
                     <input class="search-box pl-4" id="search-query" name="q" type="search" placeholder="Aranacak kelime..." calue value="{{request.GET.q}}">
                  </form>
                  <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
               </div>
            </div>

         </div>
      </nav>
   </div>
</header>
<!-- /navigation -->
