{% extends "layout.html" %}

{% block body %}
<section class="section">
   <div class="container">
        <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h3 class="card-header display-1 text-muted text-center">
                            404
                        </h3>
                    </div>
                    <h2>Oops! Üzgünüz Aradığınız Sayfa Bulunamadı...!</h2>
                </div>
            </div>
   </div>
</section>   

{% endblock body %}