{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<section class="section">
   <div class="container">
     <div class="row">
            <div class="col-lg-8  mb-5 mb-lg-0">
                 <article class="row mb-5">
                  <div class="col-12 mx-auto">
                    <h3>Şifremi Güncelle</h3>
                     <form method="post">
                     {% csrf_token%}
                     {{form|crispy}}
                     <br/>
                     <button type="submit" class="btn btn-success">Şifremi Güncelle</button>
                  </form>
                  </div>
                </article>
          </div>
          <aside class="col-lg-4">
              {% include "includes/rightbar.html" %}
              {% include "includes/userpanelmenu.html" %}
          </aside>
      </div>
    </div>
</section> 
{% endblock body %}
